BookmarksGit/map_data/heightmap.png
BookmarksGit/gfx/map/terrain/detail_index.tga
BookmarksGit/gfx/map/terrain/detail_intensity.tga
BookmarksGit/test_files/gfx/map/terrain/detail_index.tga
BookmarksGit/test_files/gfx/map/terrain/detail_intensity.tga
BookmarksGit/test_files/map_data/heightmap.png
